# exclude node modules
/node_modules

# exclude reports
/reports/*
!/reports/.keep

# exclude debugging content
/debugging/chrome/*
!debugging/chrome/.keep
/debugging/opera/*
!debugging/opera/.keep
/debugging/firefox/*
!debugging/firefox/.keep

# exclude TestModules.js (only for testing)
TestModules.js